.header {
  padding: 2rem 0;
  text-align: center;

  .site-name {
    font-size: 4rem;
    font-weight: bold;
    margin: 2rem 0;

    a {
      text-decoration: none;
      color: $primary;
    }
  }
}