description = "Default layout"
==
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="theme-color" content="{{ this.theme.theme_color }}">
    <title>{{ this.page.title }} - {{ this.theme.site_name }}</title>
    <link rel="icon" type="image/png" href="{{ 'assets/images/favicon.png'|theme }}">
    <link href="{{ 'assets/css/dist/app.css'|theme }}" rel="stylesheet">
    {% styles %}
</head>
<body class="layout-{{ this.layout.id }} page-{{ this.page.id }}">
<div class="wrapper">
    {% partial 'site/header' %}
    {% partial 'site/content' %}
    {% partial 'site/footer' %}
</div>

<script src="{{ 'assets/js/dist/app.js'|theme }}"></script>
{% framework extras %}
{% scripts %}
</body>
</html>